<ion-tabs class="round">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="colorchang(1)" [ngStyle]="{'background-color':color[0].tabOne}">
      <ion-img class="onelogo" src="/assets/12call.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="colorchang(2)" [ngStyle]="{'background-color':color[0].tabTwo}">
      <ion-img class="onelogo" src="/assets/truemove.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="colorchang(3)" [ngStyle]="{'background-color':color[0].tabThree}">
      <ion-img class="onelogo" src="/assets/dtacc.png"></ion-img>
    </ion-tab-button>


  </ion-tab-bar>


</ion-tabs>