.welcome-card ion-img {

    max-height: 100px;
    overflow: hidden;
  }
  .truelogo {
    margin:0 auto;
    height: 70px;
    width: 70px;
    
  }
  .gg {
    height: 150px;
    width: 250px;
  }
  .tt {
    height: 175px;
    width: 300px;
  }
  .welcome-card ion-button{
  float: right;
  margin-bottom:20PX; 
  
  }
  #ion-content{
    background-color: medium;
  }

