.welcome-card ion-img {

  max-height: 100px;
  overflow: hidden;
}
.aislogo {
  margin:auto auto ;
  height: 70px;
  width: 70px;
  
}
.gogo {
  height: 100%;
  width: 100%;
}
.coco {
  height: 175px;
  width: 340px;
}
.yoyo {
  height: 175px;
  width: 340px;
}
.welcome-card ion-button{
float: left;
margin-bottom:15PX; 

}
.round{
  border-radius:10px!important;
}
.shadow-red{
  box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);
  border-radius: 5px;
}
.img {
  border-radius:12px;
}
.circle-pic{
  width:50px;
  height:50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.right{
  float: right; 
}
  