<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img class="aislogo" src="/assets/12call.png"></ion-img>
    </ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder='Search '></ion-searchbar>
</ion-header>



<ion-content>
  <ion-card color="light" class="round" type="button">

    <ion-card-header style="padding:0px">
      <ion-img class="circle-pic" src="/assets/ais-003.jpg" class="gogo" (click)="openModalTab1('123')"> </ion-img>

      <ion-card-title style="padding-left: 10px;padding-right: 10px;">
        <ion-button color="warning" (click)="call('*101*1#')" float-right shape="round">
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h4>เน็ตไม่จำกัด 2mbps 1วัน</h4>

      </ion-card-title>


    </ion-card-header>




  </ion-card>
  <ion-card color="light" class="round">

    <ion-card-header>
      <ion-img src="/assets/aisPack.png" class="gogo"> </ion-img>

      <ion-card-title style="padding-left: 5px;padding-right: 10px;">
        <ion-button color="warning" float-right shape="round">
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>BBB</h3>

      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>



    </ion-card-header>




  </ion-card>
  <ion-card color="light">

    <ion-card-header>
      <ion-img src="/assets/aisPack.png"> </ion-img>

      <ion-card-title>
        <ion-button color="warning" float-right shape="round">
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>CCC</h3>

      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>



    </ion-card-header>




  </ion-card>
  <ion-card color="light">

    <ion-card-header>
      <ion-img src="/assets/aisPack.png"> </ion-img>

      <ion-card-title>
        <ion-button color="warning" float-right shape="round">
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>DDD</h3>

      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>



    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of dataPack" color="light">

    <ion-card-header>
      <ion-img src="/assets/aisPack.png"> </ion-img>

      <ion-card-title>
        <ion-button color="warning" float-right shape="round">
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>EEE</h3>

      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>



    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of dataPack" color="light">

    <ion-card-header>
      <ion-img src="/assets/aisPack.png"> </ion-img>

      <ion-card-title>
        <ion-button color="secondary" float-right shape="round">
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>FFF</h3>

      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>



    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of dataPack" color="light">

    <ion-card-header>
      <ion-img src="/assets/aisPack.png"> </ion-img>

      <ion-card-title>
        <ion-button color="secondary" float-right shape="round">
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>GGG</h3>

      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>



    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of dataPack" color="light">

    <ion-card-header>
      <ion-img src="/assets/aisPack.png"> </ion-img>

      <ion-card-title>
        <ion-button color="secondary" float-right>
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>HHH</h3>

      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>



    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of dataPack" color="light">

    <ion-card-header>
      <ion-img src="/assets/aisPack.png"> </ion-img>

      <ion-card-title>
        <ion-button color="secondary" float-right>
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>III</h3>

      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>



    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of dataPack" color="light">

    <ion-card-header>
      <ion-img src="/assets/aisPack.png"> </ion-img>

      <ion-card-title>
        <ion-button color="secondary" float-right>
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>JJJ</h3>

      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>



    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of dataPack" color="light">

    <ion-card-header>
      <ion-img src="/assets/aisPack.png"> </ion-img>

      <ion-card-title>
        <ion-button color="secondary" float-right>
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>KKK</h3>

      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>



    </ion-card-header>

  </ion-card>




</ion-content>