<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img class="dtaclogo" src="/assets/dtacc.png"></ion-img>
    </ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder='Search '></ion-searchbar>
</ion-header>



<ion-content>
  <ion-card class="welcome-card" color="light">

    <ion-card-header>
      <ion-img class="tt" src="/assets/dtacPack.png"></ion-img>

      <ion-card-title>
        <ion-button color="secondary" (click)="call('*121#')" float-right>
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>test</h3>
      </ion-card-title>
      <ion-text color="secondary">
        <p>detail</p>
      </ion-text>

    </ion-card-header>

  </ion-card>
  <ion-card class="welcome-card" color="light">

    <ion-card-header>
      <ion-img class="tt" src="/assets/dtacPack.png" t> </ion-img>

      <ion-card-title>
        <ion-button color="secondary" float-right>
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>test</h3>
      </ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <p>เน็ตพี่เอก 500 MB 50บาท 24ชั่วโมง</p>

    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card" color="light">

    <ion-card-header>
      <ion-img src="/assets/dtacPack.png"></ion-img>

      <ion-card-title>เน็ต 300 MB
        <ion-button color="secondary" float-right>
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>test</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>เน็ต 300 MB 30บาท 24ชั่วโมง</p>

    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card" color="light">

    <ion-card-header>
      <ion-img src="/assets/dtacPack.png"></ion-img>

      <ion-card-title>เน็ต 300 MB
        <ion-button color="secondary" float-right>
          <ion-icon name="cart"></ion-icon>ซื้อแพ็คเก็จ
        </ion-button>
        <h3>test</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>เน็ต 300 MB 30บาท 24ชั่วโมง</p>

    </ion-card-content>
  </ion-card>



</ion-content>