
.welcome-card ion-img {

    max-height: 100px;
    overflow: hidden;
  }
  .dtaclogo {
    margin:0 auto;
    height: 70px;
    width: 70px;
    
  }
  .gogo {
    height: 50px;
    width: 150px;
  }
  .welcome-card ion-button{
  float: right;
  margin-bottom:20PX; 
  
  }
  ion-content{
    background-color: medium;
  }

