// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.my-custom-menu {
    --width: 350px;
  }
  .endmenu {
    --width: 360px;
  }
  .toolbar-background {
    background-color: rgb(250, 241, 112);
}