<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end" style="size: 50px">

      <ion-icon name="close-circle-outline" (click)="closeModal()" style="zoom:2.0"></ion-icon>
    </ion-buttons>
    <ion-title>รายละเอียด</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-img src="/assets/aisPack.png"></ion-img>
  <ion-text>
    <p>
      "เต็มสปีด 1.5 GB นาน 1 วัน" <br>- เน็ตต่อเนื่อง 6 Mbps เต็มสปีด 1.5 GB นาน 1 วัน<br>
      - จากนั้นใช้งานต่อเนื่องจนครบระยะเวลาใช้งาน <br>- ค่าบริการรวมภาษี 48.15 บาท<br>- สมัครได้ทุกซิม
      ทั้งซิมเก่าและซิมใหม่ <br>- เป็นแพ็กเกจรายครั้งหมดแล้วต้องทำการสมัครใหม่"
    </p>
  </ion-text>

  <ion-button expand="block" (click)="call('*101*1#')" color="success" shape="round">ซื้อแพ็คเกจ</ion-button>

</ion-content>